@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cincopa_c9d1a0">...</div>
<script type="text/javascript">
    var cpo = []; cpo["_object"] = "cincopa_c9d1a0"; cpo["_fid"] = "AQBA33OmmYbj";
    var _cpmp = _cpmp || []; _cpmp.push(cpo);
    (function () {
        var cp = document.createElement("script"); cp.type = "text/javascript";
        cp.async = true; cp.src = "https://rtcdn.cincopa.com/libasync.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(cp, c);
    })();</script>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="@Url.Action("prodCategoria","catalogo", new { idCat = 1})">
                <br>
                <img class="rounded-circle" src="~/Content/img/Enseres/catCuchi.jpg" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Cuchillos</h3>
                <br>
                <br>
            </a>
        </div>
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="@Url.Action("prodCategoria","catalogo", new { idCat = 2})">
                <br>
                <img class="rounded-circle" src="~/Content/img/Enseres/catCuch.jpg" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Cucharas</h3>
                <br>
                <br>
            </a>
        </div>
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="@Url.Action("prodCategoria","catalogo", new { idCat = 1002})">
                <br>
                <img class="rounded-circle" src="~/Content/img/Enseres/catTen.jpg" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Tenedores</h3>
                <br>
                <br>
            </a>
        </div>
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="@Url.Action("prodCategoria","catalogo", new { idCat = 1003})">
                <br>
                <img class="rounded-circle" src="~/Content/img/Enseres/catPlat.jpg" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Platos</h3>
                <br>
                <br>
            </a>
        </div>
    </div>
</div>

<a href="@Url.Action("prodCategoria","catalogo", new { idCat = 1})">Categoría</a>
