@model IEnumerable<TiendaProyecto.Models.paqueteria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Paqueteria.cshtml";
}
<br/>
<br />
<br />
<br />
<br/>
<br />



<table class="table" style="padding-left:350px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_contacto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rfc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_contacto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_paqueteria }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_paqueteria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_paqueteria })
        </td>
    </tr>
}

</table>
