@using TiendaProyecto.Models
@{
    ViewBag.Title = "prodCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String precio = "Precio ";
}

<h1 class="text-success" style="color:aliceblue;text-align:center">@ViewBag.Catego</h1>

<div class="container">
    <div class="row">
        @foreach (producto item1 in ViewBag.productos)
        {
            <div class="col-6 col-sm-3" style="text-align:center">
                <br>

                <img class="rounded-circle" src="~/Content/img/Enseres/@item1.imagen" style="height:auto;width:170px" />
                <h3 class="text-success" style="color:aliceblue">@item1.nombre</h3>
                @precio @item1.precio
                <br>
                @item1.descripcion
                <br>
                <br />
                @Html.ActionLink("Añadir al carrito", "Agregar", "Carro", new { id = item1.Id_producto }, new { @class = "btn btn-info" })

            </div>
        };
        </div>
</div>

