<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/estilos.css")
    @Styles.Render("~/Content/css/style_slider.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="{!! asset('Content/css/style_slider.css') !!}">
    <link rel="stylesheet" href="{!! asset('Content/css/style.css') !!}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1669efdec3.js" crossorigin="anonymous"></script>
</head>
<body style="background-color:rgb(67, 110, 113)">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgb(67, 110, 113)">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Utensils Mania", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @using (Html.BeginForm("BuscaProd", "catalogo", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <br />
                            <input class="form-control mr-sm-2" type="text" id="nomBuscar" name="nomBuscar" placeholder="Nombre producto"/>
                            <button class="btn btn-success" type="submit" value="submit">Buscar</button>
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
